<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="schedule.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav class="light-blue"> 
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Football</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed ">
        <li class="logo center-align"><img src="new.png" alt=""></li>
        <li class="search">
            <div class="search-wrapper">
                <input id="search" placeholder="Search">
                <i class="material-icons"><a href="">search</a></i>
            </div>
        </li>
        <li class="no-padding">
            <a href="">Schedule</a>    
            <a href="">Table Rank</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal" tabindex="0">Africa</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="">anjia</a></li>
                            <li><a href="">anjia</a></li>
                            <li><a href="">anjia</a></li>
                            <li><a href="">anjia</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal" tabindex="0">America</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">yuhuuu</a></li>
                            <li><a href="#">yuhuuu</a></li>
                            <li><a href="#">yuhuuu</a></li>
                            <li><a href="#">yuhuuu</a></li>
                            <li><a href="#">yuhuuu</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal" tabindex="0">Asia</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">kmu</a></li>
                            <li><a href="#">kmu</a></li>
                            <li><a href="#">kmu</a></li>
                            <li><a href="#">kmu</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal" tabindex="0">Australia</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">jawa</a></li>
                            <li><a href="#">jawa</a></li>
                            <li><a href="#">jawa</a></li>
                        </ul>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal" tabindex="0">Europe</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">hiihi</a></li>
                            <li><a href="#">hiihi</a></li>
                            <li><a href="#">hiihi</a></li>
                            <li><a href="#">hiihi</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        const slide_menu = $(".sidenav");
        M.Sidenav.init(slide_menu, {});

        const collapsible = $(".collapsible");
        M.Collapsible.init(collapsible, {})
       
    </script>
</body>

</html>